// Uncomment this for a sticky footer.
//
 .wrapper-for-content-outside-of-footer {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
 }

 html, body {
  height: 100%;
 }

 .wrapper-for-content-outside-of-footer:after {
   content: "";
   display: block;
 }

 .footer-2, .wrapper-for-content-outside-of-footer:after {
   height: 17em;

   @include media($large-screen) {
     height: 4em;
   }
 }

footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  .footer-wrapper {
    @include outer-container();
  }

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: #636261;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  color: $footer-color;
  display: inline-block;
  padding: $base-spacing;
  text-transform: uppercase;
  width: 100%;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;

    @include media($large-screen) {
      height: 3em;
    }
  } 

  ul {
    margin-bottom: 1em;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    padding-right: 1em;

    @include media($large-screen) {
      text-align: right;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 1em;
      font-weight: 400;
    }
  }
}
