<footer role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <div class="footer-secondary-links">
      <ul>
        <li>
          <%= t("common.footer.organisation_name") %>
        </li>
        <li>
          <%= t("common.footer.contact_phone") %>
        </li>
        <li>
          <%= t("common.footer.contact_email") %>
        </li>
      </ul>
    </div>
</footer>
