<h1>Campigns</h1>
<% @campaigns.each do | campaign | %>
  <div>
    <%= link_to(campaign_path(campaign)) do %>
      <div>
        <%= campaign.title %>
      </div>
      <div>
        <%= campaign.preamble %>
      </div>
      <div>
        <%= campaign.funding_goal %>
      </div>
    <% end %>
  </div>
<% end %>
