@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "refills/navigation";
@import "refills/footer";

$campaign-index-background-color: #f2f2f2;

section {
  @include outer-container();
}

.campaigns-index {
  background-color: $campaign-index-background-color;

  h1 {
    @include pad(2em default default default);
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
  }

  h2 {
    font-size: 1.813em;
    font-weight: normal;
  }

  h3 {
    font-family: $base-font-family;
    font-size: 0.875em;
    font-weight: normal;
  }

  h4 {
    @include pad();
    border-left: 1px solid $medium-gray;
    font-family: $base-font-family;
    font-size: 0.688em;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .campaign-grid-item {

    @include media($large-screen-up) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($medium-screen-up) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($small-screen-up) {
      @include span-columns(4);
    }

    background-color: #50d1f9;
    min-height: 220px;
    margin-bottom: $gutter;
    position: relative;

    .item-header {
      @include pad(1em);
      color: #FFF;
    }

    .funding-progress {
      background-color: #FFF;
      bottom: 0px;
      color: #000;
      line-height: initial;
      position: absolute;
      width: 100%;

      .progress-graph, .pickup-message {
        @include pad(default 0 default default);
        float: left;
      }
    }
  }
}

.campaigns-show, .application-about {
  article {
    @include outer-container();
    @include pad(3em 1em);

    color: #828282;
  }

  h1 {
    color: #50d1f9;
    font-size: 3em;
    font-weight: normal;
  }

  h2 {
    color: #686868;
    font-family: $base-font-family;
    font-size: 1.813em;
    font-weight: normal;
  }

  h3 {
    color: #686868;
    font-family: $base-font-family;
    font-size: 1.063em;
    font-weight: bold;
  }

  p {
    font-size: 1.063em;
  }

  .funding-progress {
    text-align: center;

    @include media($large-screen-up) {
      @include span-columns(2);
    }

    @include media($medium-screen-up) {
      @include span-columns(2);
    }
  }

  .campaign-body {
    @include media($large-screen-up) {
      @include span-columns(10);
    }

    @include media($medium-screen-up) {
      @include span-columns(10);
    }
  }

  .contact-person {
    @include media($large-screen-up) {
      @include span-columns(5 of 10);
    }

    @include media($medium-screen-up) {
      @include span-columns(5 of 10);
    }
  }

  .drop-off-locations {
    @include media($large-screen-up) {
      @include span-columns(5 of 10);
      @include omega();
    }

    @include media($medium-screen-up) {
      @include span-columns(5 of 10);
      @include omega();
    }
  }

  .donation-form {
    @include media($large-screen-up) {
      @include span-columns(10 of 10);
    }

    @include media($medium-screen-up) {
      @include span-columns(10 of 10);
    }

    padding-top: 2em;

    .two-inputs {
      @include media($large-screen-up) {
        @include reset-display;
      }

      @include media($medium-screen-up) {
        @include reset-display;
      }

      .first {
        @include media($large-screen-up) {
          @include span-columns(5 of 10);
        }

        @include media($medium-screen-up) {
          @include span-columns(5 of 10);
        }
      }

      .second {
        @include media($large-screen-up) {
          @include span-columns(5 of 10);
        }

        @include media($medium-screen-up) {
          @include span-columns(5 of 10);
        }
      }
    }

    .submit-input {
      text-align: right;
    }
  }

}

