@charset "utf-8";
$visual-grid: true;

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "refills/navigation";
@import "refills/footer";

section {
  @include outer-container();
}

.campaigns-index {
  h1 {
    @include pad();
    text-align: center;
  }
}

.campaigns-show {
  article {
    @include outer-container();
  }

  h1 {
    font-size: 2em;
  }

  .funding-progress {
    @include media($large-screen-up) {
      @include span-columns(2);
    }

    @include media($medium-screen-up) {
      @include span-columns(2);
    }
  }

  .campaign-body {
    @include media($large-screen-up) {
      @include span-columns(10);
    }

    @include media($medium-screen-up) {
      @include span-columns(10);
    }
  }

  .preable {
    font-style: italic;
  }

  .contact-person {
    @include media($large-screen-up) {
      @include span-columns(5 of 10);
    }

    @include media($medium-screen-up) {
      @include span-columns(5 of 10);
    }
  }

  .drop-off-locations {
    @include media($large-screen-up) {
      @include span-columns(5 of 10);
      @include omega();
    }

    @include media($medium-screen-up) {
      @include span-columns(5 of 10);
      @include omega();
    }
  }

  .donation-form {
    @include media($large-screen-up) {
      @include span-columns(10 of 10);
    }

    @include media($medium-screen-up) {
      @include span-columns(10 of 10);
    }

    .two-inputs {
      @include media($large-screen-up) {
        @include reset-display;
      }

      @include media($medium-screen-up) {
        @include reset-display;
      }

      .first {
        @include media($large-screen-up) {
          @include span-columns(5 of 10);
        }

        @include media($medium-screen-up) {
          @include span-columns(5 of 10);
        }
      }

      .second {
        @include media($large-screen-up) {
          @include span-columns(5 of 10);
        }

        @include media($medium-screen-up) {
          @include span-columns(5 of 10);
        }
      }
    }

    .submit-input {
      text-align: right;
    }
  }

}

.campaign-grid-item {

  @include media($large-screen-up) {
    @include span-columns(4);
    @include omega(3n);
  }

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($small-screen-up) {
    @include span-columns(4);
  }
  background-color: #3DB9B9;
  margin-bottom: 1em;
  min-height: 10em;
  margin-bottom: 1em;
  position: relative;

  .item-header {
    @include pad();
    color: #FFF;
  }

  .funding-progress {
    background-color: #FFF;
    bottom: 0px;
    color: #000;
    width: 100%;
    position: absolute;
  }
}
